{
  "root": false,
  "extends": ["../.eslintrc"],
  "rules": {},
  "parserOptions": {
    "project": ["./tsconfig.json", "./playground/tsconfig.json"],
    "tsconfigRootDir": ".",
    "sourceType": "module"
  },
  "ignorePatterns": [".output", ".vinxi", "node_modules"]
}